{% extends "base.html" %} 
{% block content %} 
        <h1>{{title}}</h1>
        <p>Hark, fair citizens, whence doth thou hearken unto mine words? Forsooth, in this fair realm, where dreams doth take flight and passions ignite, we art but players upon life's grand stage. Behold, a tale of yore, where love and betrayal dance in the moonlight's glow, where honor and treachery doth clash like thunder upon the stormy sea. Let us embark upon this journey, where the tapestry of fate doth weave its intricate threads, and in the end, we shall discover what light doth pierce through yon darkness, and what secrets lie hidden in the depths of our souls.</p> 
        <div class="flexible">
          <div style="max-width:300px">
              <img src="https://picsum.photos/seed/jajaja/200/300" />
          </div>
        </div>
{% endblock %} 