<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <style>
      /* makes images in div be size of box */
      .flexible img{
          width:100%;
       }

       /* uses flexbox to control size of child elements */
       .flexible{
          display: flex;
          justify-content: space-evenly;
       }

      /* gives color to our movie stars */
      .checked {
        color: gold;
      }
      
    </style>
  </head>
  <body>
    <nav class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/users" class="w3-bar-item w3-button">Users</a>
      <a href="/register" class="w3-bar-item w3-button">Register</a>
      <a href="/movies" class="w3-bar-item w3-button">Movies</a>
      <a href="/recipes" class="w3-bar-item w3-button">Recipes</a>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
