{% extends "base.html" %} 
{% block content %} 
        <h1>{{title}}</h1>
        <p>In the land of whimsy, where colors abound,
        And creatures of fanciful shapes can be found,
        We skip through the meadows, we dance in the trees,
        With giggles and laughter, we do as we please.

        Oh, the places we'll go, with words bold and bright,
        In a world of pure imagination, oh what a sight!
        With rhymes and with rhythms, we'll frolic and play,
        In this Seussian wonderland, every single day!

        So grab hold of your hat, and hop on a train,
        To a place where the sun always shines, without rain.
        For in Dr. Seuss' land, where dreams come to life,
        We'll journey together, free from all strife.</p>
        <div class="flexible">
          <div style="max-width:300px">
              <img src="https://picsum.photos/seed/xahbs/200/300" />
          </div>
        </div>
{% endblock %} 