{% extends "base.html" %} 
{% block content %} 
  <h1>{{title}}</h1>
  <p>Ladies and gentlemen, let me tell you, we're going to win big, and I mean big. Our country is going to be so great, you won't believe it. We're going to build the best economy, the strongest military, and nobody, believe me, nobody will even come close. We're going to make deals that are so tremendous, it'll be unbelievable. And let me tell you, we're going to do it fast. America will be winning like never before. It's going to be huge!</p>
  <div class="flexible">
    <div style="max-width:300px">
        <img src="https://picsum.photos/id/237/536/354" />
    </div>
  </div>
{% endblock %} 
