{% extends "base.html" %} 
{% block content %} 
        <h1>{{title}}</h1>
        <p>Hey there, folks! Billy Mays here with another fantastic product that's gonna blow your socks off! Picture this: you're strugglin' with stains, but fear not, 'cause I've got the solution right here! It's powerful, it's potent, it's gonna tackle those tough messes like nobody's business. You won't believe your eyes when you see the results! So don't wait, get your hands on this miracle cleaner today and say goodbye to stains forever! But wait, there's more! Order now and we'll throw in not one, not two, but three extra bottles for free! That's right, you heard me, three extra bottles, absolutely free! But you gotta act fast, 'cause this offer won't last long. Call now and make stains a thing of the past!</p>
        <div class="flexible">
          <div style="max-width:300px">
              <img src="https://picsum.photos/seed/usadn/200/300" />
          </div>
        </div>
{% endblock %} 